body {
font-family : Verdana, sans-serif;
  background-color : #1e1e24;
  color: #fff;
  display : flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin : 0;
  
}


.game-container { text-align: center;
  
}

#status {
margin-bottom: 20px; font-weight: bold;
  
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-tap: 10px;
  margin: 0 auto;
}

.cell {
width :   100px;
  height: 100px;
  background-color:#2a2a35;
  border-radius:8px;
  font-weight: bold;
  display: flex;
  justify-content : center;
  align-items: center;
  cursor: pointer;
  
}


.cell:hover {background-color:#3f3f50;}
.cell.taken {cursor: not-allowed;}
.hidden {display: none;}
.disabled {pointer-events: none;}
